.countdown {
  position: relative;
  align-self: center;
  display: flex;
  cursor: pointer;
  z-index: 1;
  /* font-size: 0.75rem; */
  /* width: 100px; */
  /* position: absolute;
  top: 25px;
  right: 25px; */
  /* flex-direction: column; */
}

.live {
  background-color: #ca0937;
  padding: 10px 20px;
  /* clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 25%); */
}

.time {
  /* padding: 10px 20px; */
  border: solid #ca0937 1px;
  margin-left: -1px;
  width: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.dotContainer {
  display: flex;
  align-items: center;
}

.dot {
  width: 8px;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
}

.extraInfo {
  position: relative;
  /* justify-self: flex-end; */
  /* text-align: right; */
  /* margin-top: 20px; */
  transform: translateY(10px);
  opacity: 0.85;
}

@media (max-width: 1024px) {
  .extraInfo {
    display: none !important;
  }
}

.commsLink {
  /* position: absolute;
  right: 40px;
  bottom: 40px; */
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  /* transform: translateY(-50%); */
  /* z-index: 1; */
}

.commsLink svg {
  width: 75px;
  height: 75px;
}

/* .commsLink:hover {
  transform: scale(1.1);
} */

.commsText {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  white-space: nowrap;
  font-weight: bold;
  line-height: 1;
}

.commsTextSmall {
  /* position: absolute; */
  display: none;
  margin-left: 10px;
  white-space: nowrap;
  font-weight: bold;
}

.commsText span {
  transition: color 0.2s ease-in-out;
}

.commsLink svg path {
  transition: fill 0.2s ease-in-out;
}

.commsLink:hover svg path:first-of-type {
  fill: white;
}

.commsLink:hover svg path:last-of-type {
  fill: #038fd6;
}

.commsLink:hover .commsText span {
  color: white !important;
}

@media (max-width: 768px) {
  .countdown {
    font-size: 0.8rem;
  }

  .live {
    padding: 5px 10px;
  }

  .time {
    width: 75px;
  }

  .dot {
    width: 5px;
    margin-right: 5px;
  }

  .instructions {
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%);
    font-size: 0.9rem;
    /* text-align: center; */
  }
  .rotate {
    display: none;
  }
  .commsLink {
    right: 50%;
    transform: translateX(50%);
    width: auto;
  }
  .commsLink svg {
    width: 50px;
    height: 50px;
  }

  .commsText {
    display: none;
  }
  .commsTextSmall {
    display: block;
  }
  /* .commsLink:hover {
    transform: scale(1);
  } */
}
