.countdown {
  position: relative;
  align-self: center;
  display: flex;
  cursor: pointer;
  z-index: 1;
  /* font-size: 0.75rem; */
  /* width: 100px; */
  /* position: absolute;
  top: 25px;
  right: 25px; */
}

.live {
  background-color: #ca0937;
  padding: 10px 20px;
  /* clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 25%); */
}

.time {
  /* padding: 10px 20px; */
  border: solid #ca0937 1px;
  margin-left: -1px;
  width: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.dotContainer {
  display: flex;
  align-items: center;
}

.dot {
  width: 8px;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .countdown {
    font-size: 0.8rem;
  }

  .live {
    padding: 5px 10px;
  }

  .time {
    width: 75px;
  }

  .dot {
    width: 5px;
    margin-right: 5px;
  }
}
