@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Sen:wght@400;700;800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Nanum Gothic', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  /* overflow: scroll;
  overflow: overlay;
  overflow-x: hidden; */
  overflow: hidden;
}

*::-webkit-scrollbar {
  display: block;
  width: 10px;
}

*::-webkit-scrollbar-button {
  display: none;
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #ffffff40;
  width: 8px;
}

*::-webkit-scrollbar-track-piece {
  background-color: #00000000;
  width: 8px;
  /* background-color: #ffffff40; */
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  width: 10px;
  border-radius: 8px;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: #082540;
  color: white;
  /* overflow-x: hidden; */
}

/* .loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: lightblue;
  z-index: 100 !important;
  cursor: progress;
  transform: translateY(100%);
} */

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  /* background: #066bb8; */
  /* transform-origin: bottom; */
  /* background-image: url('/transition.jpg'); */
  background-image: url('/transition.png');
  background-color: #066bb8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  /* background-size: cover; */
  /* background-size: contain; */
  z-index: 2;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  /* background: #066bb8; */
  /* transform-origin: top; */
  /* background-image: url('/transition.jpg'); */
  background-image: url('/transition.png');
  background-color: #066bb8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  /* background-size: cover; */
  /* background-size: contain; */
  z-index: 2;
}

.transition-image {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  /* transform-origin: top; */
  background-image: url('/transition.jpg');
  background-color: #066bb8;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.holding {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.holding * {
  margin-bottom: 30px;
}

.holding-logo {
  width: 450px;
  margin-bottom: -30px;
}

@media (max-width: 768px) {
  .holding-logo {
    width: 250px;
  }
}

.holding p {
  text-align: center;
  font-size: 1.5rem;
}

.holding p:first-child {
  color: red;
  margin-top: 60px;
}

.holding span {
  color: #0097d1;
  font-weight: 600;
}

.holding button {
  font-weight: 700;
  background-color: #0097d1;
  color: white;
  border: none;
  padding: 20px 80px;
  margin-bottom: 60px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.holding button:hover {
  background-color: #0181b4;
}

.logo {
  position: relative;
  width: 200px;
  cursor: pointer;
  z-index: 1;
}

@media (max-width: 768px) {
  .logo {
    width: 100px;
  }
}

/* modelviewer things */
.Hotspot {
  cursor: pointer;
  /* border-radius: 50%;
  width: 48px;
  height: 48px;
  border: solid white 8px; */
  /* width: 54px;
  height: 54px; */
  background: none;
  border: none;
  transition: border-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.hotspot-svg {
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
}

.Hotspot:hover {
  border-color: rgb(152, 178, 199);
  transform: scale(1.2);
}

#viewer {
  width: 75vw;
  height: 80vh;
}

@media (max-width: 768px) {
  #viewer {
    width: 90vw;
  }
}

.glow {
  width: 750px;
  /* height: 735px; */
  /* width: 40%; */
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgb(23, 104, 145);
  filter: blur(35px);
}

@media (max-width: 1024px) {
  .glow {
    width: 600px;
    /* height: 650px; */
  }
}

@media (max-width: 768px) {
  .glow {
    width: 550px;
    height: 550px;
  }
}

@media (max-width: 600px) {
  .glow {
    width: 450px;
    height: 450px;
  }
}

@media (max-width: 450px) {
  .glow {
    width: 350px;
    height: 350px;
  }
}

/* @media (max-width: 930px) {
  .glow {
    width: 75%;
  }
} */

.panel {
  max-width: 600px;
  padding: 40px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 600px;
  height: 300px; */
  /* background-color: rgba(9, 19, 36, 0.9); */
  background-color: rgba(0, 47, 95, 0.95);
  /* border: solid #397cab 1px; */
  color: white;
  display: flex;
  flex-direction: column;
  /* clip-path: polygon(5% 0, 100% 0, 100% 95%, 95% 100%, 0 100%, 0 5%); */
  border: solid #0097d1 2px;
  z-index: 2;
}

@media (max-width: 768px) {
  .panel {
    width: 90%;
    max-width: 100%;
  }
}

.section {
  margin-bottom: 20px;
}

/* This will need attention when making responsive */
.section-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

.btn-close {
  cursor: pointer;
  /* align-self: flex-end; */
  background: none;
  border: none;
  color: white;
}
.btn-close span {
  color: #027bb7;
}

.close {
  position: absolute;
  top: 0px;
  right: 40px;
  transform: translateY(-50%);
  width: 40px;
  cursor: pointer;
}

.btn-operation {
  background-color: #0097d1;
  color: white;
  border: none;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}
.btn-operation:hover {
  background-color: #9a0a27;
}
.btn {
  cursor: pointer;
  /* width: 500px; */
  padding: 10px 0;
}
.title {
  color: #0097d1;
  margin-bottom: 10px;
  font-size: 0.75rem;
}
.name,
.description {
  font-size: 1rem;
}
/* .operation {
  font-size: 1.5rem;
} */
.iframe {
  width: 100%;
}
.section-launch {
  margin-bottom: 0;
}
.panel--england {
  display: none;
  opacity: 0;
}
.panel--australia {
  display: none;
  opacity: 0;
}
.panel--us {
  display: none;
  opacity: 0;
}
.panel--one {
  display: none;
  opacity: 0;
}
