/* .hotspot {
  width: 50px;
  aspect-ratio: 1;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.hotspot path {
  transition: fill 0.2s ease-in-out;
} */

/* .hotspot path:first-of-type {
  fill: white;
}

.hotspot path:nth-of-type(2) {
  fill: white;
} */

/* @media (max-width: 768px) {
  .hotspot {
    width: 35px;
  }
} */
