.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  color: black;
  z-index: 2;
  /* pointer-events: none; */
  transition: transform 0.5s ease-in-out;
  opacity: 1;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.holding {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 700px;
  /* align-items: center; */
}

.loadingLogo {
  width: 525px;
  aspect-ratio: 3 / 1;
  /* transform: translateY(-12.5%); */
  /* height: 260px; */
  margin-bottom: 120px;
  align-self: center;
}

.footerLogos {
  align-self: center;
  width: 300px;
}

.progress {
  margin-bottom: 80px;
}

.progressSection {
  margin-bottom: 40px;
}

.progressSection h1 {
  color: #0097d1;
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .holding {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .holding {
    /* width: 400px; */
    width: 80%;
  }

  .footerLogos {
    width: 300px;
  }

  .loadingLogo {
    width: 250px;
    margin-bottom: 60px;
  }

  .progress {
    margin-bottom: 20px;
  }
}