.header {
  display: flex;
  /* align-items: center; */
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 40px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .logo {
    transform: translateY(5px);
  }
}

.bg {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  position: absolute;
  opacity: 0.65;
}

.instructions {
  position: absolute;
  left: 40px;
  bottom: 40px;
  display: flex;
  z-index: 1;
  transform: translateY(-25%);
  /* width: 75%; */
  white-space: nowrap;
}

.items {
  /* opacity: 0.55; */
  opacity: 0.85;
}

.itemsSmall {
  opacity: 0.85;
  display: none;
}

@media (max-width: 1300px) {
  .items {
    display: none !important;
  }

  .itemsSmall {
    display: block !important;
  }
}

.line {
  width: 2px;
  /* height: 100%; */
  transform: rotate(-12.5deg);
  background: #26688f;
  margin-right: 10px;
}

.rotate {
  margin-right: 20px;
}

.commsLink {
  position: absolute;
  right: 40px;
  bottom: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  z-index: 2;
}

.commsLink svg {
  width: 67px;
  height: 67px;
}

.commsLink svg path {
  transition: fill 0.2s ease-in-out;
}

/* .commsLink:hover {
  transform: scale(1.1);
} */

.commsText {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  white-space: nowrap;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1;
}

.commsText span {
  transition: color 0.2s ease-in-out;
}

.commsLink:hover svg path:first-of-type {
  fill: white;
}

.commsLink:hover svg path:last-of-type {
  fill: #038fd6;
}

.commsLink:hover .commsText span {
  color: white !important;
}

.liveAt {
  margin-top: 10px;
  font-size: 0.85rem;
  font-weight: 400;
  opacity: 0.85;
}

@media (max-width: 1024px) {
  /* .commsLink svg {
    width: 75px;
    height: 75px;
  } */
  .liveAt {
    display: none;
  }
  .commsText {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .instructions {
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%);
    font-size: 0.9rem;
    display: none;
    /* text-align: center; */
  }
  .rotate {
    display: none;
  }
  .commsLink {
    right: 50%;
    transform: translateX(50%);
    width: auto;
  }
  .commsLink svg {
    width: 50px;
    height: 50px;
  }
}

@media (max-height: 670px) {
  .instructions {
    display: none;
  }
}
