.flex {
  /* position: absolute;
  top: 0;
  left: 0; */
  position: relative;
  display: flex;
  height: 100%;
}

.image {
  position: relative;
}

.img {
  width: 350px;
  height: 600px;
  min-height: 100%;
  object-fit: cover;
}

.imgText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-11deg);
  text-align: center;
  /* font-size: 3rem !important; */
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  /* letter-spacing: -0.125rem; */
  font-weight: 900;
  font-style: italic;
  min-width: 300px;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  width: 101%;
  hyphens: auto;
}

.info {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profession {
  margin-bottom: 10px;
}

.title {
  margin-bottom: 20px;
}

.description {
  margin-bottom: 40px;
  overflow-y: auto;
  max-height: 300px;
}

.description::-webkit-scrollbar {
  display: block;
  width: 10px;
}

.description::-webkit-scrollbar-button {
  display: none;
  width: 8px;
}

.description::-webkit-scrollbar-track {
  background-color: #ffffff40;
  width: 8px;
}

.description::-webkit-scrollbar-track-piece {
  background-color: #00000000;
  width: 8px;
}

.description::-webkit-scrollbar-thumb {
  background-color: white;
  width: 10px;
  border-radius: 8px;
}

.link {
  text-decoration: underline;
  color: white;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: rgb(187, 187, 187);
}

.button {
  align-self: flex-start;
  background-color: #0097d1;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  min-width: 300px;
  cursor: pointer;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
}

.button span {
  margin-left: 20px;
  font-weight: bold;
  font-size: 1rem;
}

.button:hover {
  background-color: #0188bd;
}

.list {
  list-style: none;
  overflow-y: auto;
  max-height: 300px;
}

.list::-webkit-scrollbar {
  display: block;
  width: 10px;
}

.list::-webkit-scrollbar-button {
  display: none;
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background-color: #ffffff40;
  width: 8px;
}

.list::-webkit-scrollbar-track-piece {
  background-color: #00000000;
  width: 8px;
}

.list::-webkit-scrollbar-thumb {
  background-color: white;
  width: 10px;
  border-radius: 8px;
}

.item h1 {
  margin-bottom: 10px;
  font-weight: 600;
}

.item button {
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .img {
    width: 250px;
  }
  .imgText {
    font-size: 2.5rem !important;
    min-width: auto;
  }
  .button {
    min-width: auto;
  }
}

@media (max-width: 700px) {
  .item h1 {
    width: 90%;
  }

  .item button {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .flex {
    flex-direction: column;
  }

  .img {
    width: 100%;
    height: 250px;
  }

  .info {
    padding: 20px;
  }

  .profession {
    margin-bottom: 5px;
  }

  .title {
    margin-bottom: 10px;
  }

  .description {
    height: 150px;
    overflow: auto;
    margin-bottom: 20px;
  }

  .button {
    min-width: auto;
    width: 100%;
  }

  .list {
    max-height: 150px;
  }

  .item button {
    width: 90%;
  }
}
