.grid {
  display: grid;
  position: relative;
}

/* 
  Vimeo in globals
*/

.profession {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.title {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.description {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
  margin-left: 80px;
}

@media (max-width: 1024px) {
  .description {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    margin-left: 0;
    margin-top: 20px;
  }
}
