.loader {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  color: black;
  z-index: 2;
  /* pointer-events: none; */
  transition: transform 0.5s ease-in-out;
  opacity: 1;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 1;
  /* transition: opacity 0.5s ease-in-out; */
  transition: transform 0.5s ease-in-out;
  pointer-events: none;
}

.bgContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
  /* filter: brightness(200%) hue-rotate(-10deg); */
  transition: transform 1s ease-in-out, filter 0.2s ease-in-out;
}

.bgCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #7aa6ce; */
  /* background-color: #5b81a4; */
  opacity: 0.5;
  mix-blend-mode: hard-light;
  transition: transform 0.75s ease-in-out;
}

.crosshair {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* width: 200%;
  height: 200%;
  transform: translate(-50%, -50%); */
  overflow: visible;
  pointer-events: none;
  transition: transform 1s ease-in-out, opacity 0.2s ease-in-out;
}

.vertical {
  position: absolute;
  width: 1px;
  /* height: 100%; */
  height: 200%;
  /* top: 0; */
  top: -50%;
  left: calc(50% - 1px);
  background-color: white;
  /* transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out; */
}

.horizontal {
  position: absolute;
  /* width: 100%; */
  width: 200%;
  height: 1px;
  top: calc(50% - 1px);
  /* left: 0; */
  left: -50%;
  background-color: white;
  /* transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out; */
}

.target {
  position: absolute;
  width: 25px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid white 2px;
  visibility: hidden;
  animation: flashing linear 0.2s infinite;
  /* transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out; */
}

@keyframes flashing {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 700px;
  /* align-items: center; */
}

.loadingLogo {
  /* width: 450px; */
  width: 525px;
  aspect-ratio: 3 / 1;
  margin-bottom: 80px;
  align-self: center;
}

.progress {
  margin-bottom: 80px;
}

.progressSection {
  margin-bottom: 40px;
}

.progressSection h1 {
  color: #0097d1;
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: 400;
}

.briefing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
}

.briefingMain {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 800px;
  max-height: 93%;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.briefingMain::-webkit-scrollbar {
  display: block;
  width: 10px;
}

.briefingMain::-webkit-scrollbar-button {
  display: none;
  width: 8px;
}

.briefingMain::-webkit-scrollbar-track {
  background-color: #ffffff40;
  width: 8px;
}

.briefingMain::-webkit-scrollbar-track-piece {
  background-color: #00000000;
  width: 8px;
}

.briefingMain::-webkit-scrollbar-thumb {
  background-color: white;
  width: 10px;
  border-radius: 8px;
}

.details {
  margin-right: 40px;
  width: 40%;
}

.video {
  width: 60%;
}

.item {
  list-style: none;
  margin-bottom: 40px;
  /* width: 100%; */
}

.item h1 {
  /* color: #0097d1; */
  color: #02a9ea;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 500;
}

.item p {
  font-size: 1.5rem;
}

.item video {
  border: solid #0097d1 2px;
  width: 100%;
  margin-bottom: 20px;
}

.item button {
  cursor: pointer;
  /* position: relative; */
  /* background-color: #0097d1; */
  background-color: #02a9ea;
  color: white;
  border: none;
  width: 100%;
  padding: 10px 0;
  transition: background-color 0.2s ease-in-out;
  /* max-width: 350px; */
  pointer-events: none;
}

.item button:hover {
  background-color: white;
}

.continue {
  color: white;
  transition: color 0.2s ease-in-out;
}

.item button:hover .continue {
  color: #0097d1;
}

/* .continue:hover {
  color: #0097d1;
} */

@media (max-width: 1024px) {
  .main {
    width: 500px;
  }

  .briefingMain {
    flex-direction: column;
    width: 60%;
  }

  .details {
    width: 100%;
  }

  .video {
    width: auto;
  }

  .item h1 {
    font-size: 0.75rem;
  }

  .item p {
    font-size: 1rem;
  }

  .item video {
    max-width: 500px;
    max-height: 350px;
  }
}

@media (max-width: 768px) {
  .main {
    width: 80%;
  }

  .briefingMain {
    width: 80%;
  }

  .item {
    margin-bottom: 20px;
  }

  .loadingLogo {
    width: 250px;
  }
}
